<div *ngIf="specialistData.length > 0" style="width: 900px; margin: 0 auto; margin-top: 100px;">
  <h2 (click)="toggleSpecialistTable()" class="clickable-title"> 
    Detalles de los especialistas
    <mat-icon class="mat-icon-2"
      [ngClass]="{ 'opened': isTableSpecialistVisible, 'closed': !isTableSpecialistVisible }"
      style="cursor: pointer; font-size: 30px; margin-left: 10px;">
      {{ isTableSpecialistVisible ? 'do_not_disturb_on' : 'add_circle' }}
    </mat-icon>
  </h2>
  <div class="user-container" *ngIf="isTableSpecialistVisible">
    <div *ngFor="let specialist of specialistData" class="user-item">
      <button class="fav-button" (click)="mostrarDatosEspecialista(specialist)" appTooltip='{{ specialist.specialities.join(", ") }}'>
        <img [src]="specialist.profilePic" alt="Profile Picture" class="profile-pic" />
        <span>{{ specialist.name }} {{ specialist.lastName }} | @if(specialist.activated){Habilitado}@else{Deshabilitado}</span>
      </button>
      <div>
        <mat-icon
        (click)="editActivationStatus(specialist)"
        [ngClass]="{
          'activated': specialist.activated,
          'not-activated': !specialist.activated
        }" >
        {{ specialist.activated ? 'toggle_on' : 'toggle_off' }}
      </mat-icon>
      </div>
    </div>
  </div>
</div>

<div *ngIf="patientData" style="width: 900px; margin: 0 auto; margin-top: 70px;">
  <h2 (click)="togglePatientTable()" class="clickable-title"> 
    Detalles de los pacientes
    <mat-icon class="mat-icon-2"
      [ngClass]="{ 'opened': isTablePatientVisible, 'closed': !isTablePatientVisible }"
      style="cursor: pointer; font-size: 30px; margin-left: 10px;">
      {{ isTablePatientVisible ? 'do_not_disturb_on' : 'add_circle' }}
    </mat-icon>
  </h2>
  <div class="user-container" *ngIf="isTablePatientVisible">
    <div *ngFor="let patient of patientData" class="user-item">
      <button class="fav-button" (click)="mostrarDatosPaciente(patient)" appTooltip='DNI: {{patient.dni}}'>
        <img [src]="patient.profilePic" alt="Profile Picture 1" class="profile-pic" />
        <span>{{ patient.name }} {{ patient.lastName }}</span>
      </button>
      <button class="action-button" (click)="verHistoriaClinica(patient.uid)">
        Ver Historia Clínica
      </button>
    </div>
  </div>
</div>

<div *ngIf="adminData.length > 0" style="width: 900px; margin: 0 auto; margin-top: 100px;">
  <h2 (click)="toggleAdminTable()" class="clickable-title"> 
    Detalles de los administradores
    <mat-icon class="mat-icon-2"
      [ngClass]="{ 'opened': isTableAdminVisible, 'closed': !isTableAdminVisible }"
      style="cursor: pointer; font-size: 30px; margin-left: 10px;">
      {{ isTableAdminVisible ? 'do_not_disturb_on' : 'add_circle' }}
    </mat-icon>
  </h2>
  <div class="user-container" *ngIf="isTableAdminVisible">
    <div *ngFor="let admin of adminData" class="user-item">
      <button class="fav-button" (click)="mostrarDatosAdmin(admin)">
        <img [src]="admin.profilePic" alt="Profile Picture" class="profile-pic" />
        <span>{{ admin.name }} {{ admin.lastName }}</span>
      </button>
    </div>
  </div>
</div>
