<app-header
  [title]="'MyClinic'"
></app-header>

<button
  class="btn-flotante"
  (click)="cambiarTema()">
  Cambiar Tema
</button>

<div class="profile-section" *ngIf="userData" [appToggleTheme]="modoOscuro">
  <div class="profile-card">
    <div class="profile-images">
      <div class="profile-image">
        <img [src]="userData?.profilePic"/>
      </div>
      <div class="profile-image" *ngIf="userData?.profilePic2">
        <img [src]="userData?.profilePic2"/>
      </div>
    </div>
    <div class="profile-info">
      <h2 class="mt-1">{{userData?.name}} {{userData?.lastName}}</h2>
      <p><strong>Edad: </strong>{{userData?.age}}</p>
      <p><strong>DNI: </strong>{{userData?.dni}}</p>
      <p><strong>Email: </strong> {{userData?.email}}</p>
      <p><strong *ngIf="userData?.socialWork">Obra Social: </strong>{{userData?.socialWork}}</p>
      <p *ngIf="userData?.specialities"><strong>Especialidades:</strong> {{ userData.specialities.join(', ') }}.</p>
    </div>
  </div>

  <div *ngIf="historiaClinica.length > 0" style="background-color: white; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px; margin: 20px;">
    <h2>Historia Clínica</h2>
    <div class="buttons-container">
      <button *ngFor="let historia of historiaClinica" (click)="mostrarHistoriaClinica(historia)">
        {{ historia.fecha }}  -  {{ historia.horaInicio }}  -  {{ historia.horaFin }}
      </button>
      <button (click)="descargarHistoriasClinicasPDF()" style="margin-top: 20px; padding: 10px; background-color: #007bff; color: white; border: none; border-radius: 5px;">
        Descargar Historias Clínicas (PDF)
      </button>
      <div *ngFor="let especialidad of historiasSegunEspecialidad">
        <button (click)="descargarHistoriasClinicasPDFSegunEspecialidad(especialidad.especialidad)" 
                style="margin-top: 20px; padding: 10px; background-color: #007bff; color: white; border: none; border-radius: 5px;">
          Descargar Historias Clínicas (PDF) - {{ especialidad.especialidad }}
        </button>
      </div>
    </div>

  </div>
  <div *ngIf="historiaClinica.length == 0 && role=='paciente'" style="width: 100%; display: flex; justify-content: center; margin-top: 30px;">
    <h1>No tienes historia clínica todavía.</h1>
  </div>
  

  <div *ngIf="role=='especialista'" style="width: 1200px;">
    <app-mis-horarios></app-mis-horarios>   
  </div>
</div>
