<app-header
  [title]="'MyClinic'"
></app-header>
<div class="body" [@zoom]>

  <div style="width: 100%; display: flex; justify-content: center; margin-top: 50px;">
    <button (click)="exportarTodosADownloadExcel()" style="padding: 10px; background-color: #007bff; color: white; border: none; border-radius: 5px;">
      Descargar Todos los Datos (Excel)
    </button>
  </div>

  <div class="captcha-status-container">
    <h1 class="captcha-status-text">
      EL CAPTCHA ESTÁ 
      <span [ngClass]="{'activated': captchaStatus, 'not-activated': !captchaStatus}">
        {{ captchaStatus ? 'ACTIVADO' : 'DESACTIVADO' }}
      </span>
    </h1>
  </div>
  
  <div class="icon-container">
    <div class="icon-wrapper">
      <mat-icon
        (click)="toggleCaptcha()"
        [ngClass]="{
          'activated': captchaStatus,
          'not-activated': !captchaStatus
        }">
        {{ captchaStatus ? 'toggle_on' : 'toggle_off' }}
      </mat-icon>
    </div>
  </div>

    <app-detalles></app-detalles>

    <div class="button-container">
    <button 
    class="custom-button add-patient" 
    (click)="onButtonClick('specialist')">
    Añadir Especialista
  </button>

    <button 
      class="custom-button add-specialist" 
      (click)="onButtonClick('patient')">
      Añadir Paciente
    </button>

    <button 
      class="custom-button add-admin" 
      (click)="onButtonClick('admin')">
      Añadir Administrador
    </button>
  </div>
    <div class="status">
        <!-- Mostrar el componente de paciente solo si isAddingPatient es true -->
        <div *ngIf="isAddingPatient" class="margin-top">
            <app-sign-up-patient [header]="false" [color]="'#2196F3'" [esAdmin]="true" (patientUploaded)="onPatientUploaded($event)"></app-sign-up-patient>
        </div>
        <!-- Mostrar el componente de especialista solo si isAddingSpecialist es true -->
        <div *ngIf="isAddingSpecialist" class="margin-top">
            <app-sign-up-specialist [header]="false" [color]="'#45a049'"  [esAdmin]="true" (specialistUploaded)="onSpecialistUploaded($event)"></app-sign-up-specialist>
        </div>
        <!-- Mostrar el componente de especialista solo si isAddingSpecialist es true -->
        <div *ngIf="isAddingAdmin" class="margin-top">
            <app-sign-up-administrator [header]="false" [color]="'#f44336'" [esAdmin]="true" (administratorUploaded)="onAdministratorUploaded($event)"></app-sign-up-administrator>
        </div>
    </div>
</div>

<div class="p-fixed-bottom d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">Copyright © 2024. All rights reserved.</div>
    <!-- Copyright -->
</div>