<div class="horarios-container">
  <div style="width: 100%; display: flex; justify-content: center;">
    <h1 style="font-size: 30px; padding-top: 20px;">Mis Horarios</h1>
  </div>
  <div style="width: 100%; display: flex; justify-content: center; margin-bottom: 30px;">
    <table [ngClass]="{'empty': especialidadesConDuracion.length === 0}">
      <thead>
        <tr>
          <th>Especialidad</th>
          <th>Duración (minutos)</th>
          <th>Seleccionar Duración</th>
          <th>Acción</th> <!-- Nueva columna -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let especialidad of especialidadesConDuracion">
          <td>{{ especialidad.especialidad }}</td>
          <td>{{ especialidad.duracion }}</td>
          <td>
            <select [(ngModel)]="especialidad.duracion">
              <option value="15">15 minutos</option>
              <option value="30">30 minutos</option>
              <option value="45">45 minutos</option>
              <option value="60">60 minutos</option>
            </select>
          </td>
          <td>
            <button 
            [appCaptcha]="onCaptchaonDuracionChange(especialidad)" 
            [captchaTitle]="'Por favor, resuelve este captcha antes de continuar:'"
            >Guardar
          </button> <!-- Botón Guardar -->
          </td>
        </tr>
        <tr *ngIf="especialidadesConDuracion.length === 0">
          <td colspan="4" class="empty">No hay especialidades disponibles</td>
        </tr>
      </tbody>
    </table>
    
  </div>
  <div class="days-grid">
    <div *ngFor="let day of availableDays" class="day-card">
      <div class="day-header">
        <span>{{ day | titlecase }}</span>
      </div>
      <div class="day-body">
        <!-- Campos de hora de inicio y fin -->
        <label for="startTime">Inicio:</label>
        <select [(ngModel)]="newHorario[day].startTime" [ngModelOptions]="{ standalone: true }">
          <option *ngFor="let time of getAvailableTimeSlots(day)" [value]="time">{{ time }}</option>
        </select>

        <label for="endTime">Fin:</label>
        <select [(ngModel)]="newHorario[day].endTime" [ngModelOptions]="{ standalone: true }">
          <option *ngFor="let time of getAvailableTimeSlots(day)" [value]="time">{{ time }}</option>
        </select>

        <button (click)="addHorarioForDay2(day)" class="add-btn">Añadir Horario</button>

        <!-- Mostrar los horarios añadidos -->
        <div *ngIf="addedHorarios[day] && addedHorarios[day].length > 0">
          <p style="padding-top: 20px; font-size: 20px;">Horarios:</p>
          <ul>
            <li *ngFor="let horario of addedHorarios[day]; let i = index">
              <div style="width: 100%; display: flex; justify-content: space-between; padding-top: 15px;" >
                <p style="font-size: 15px;">{{ horario.startTime }} - {{ horario.endTime }}</p>
                <button (click)="removeHorario(day, i)" class="remove-btn" style="position: relative; top: -5px;">Eliminar</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Botón para guardar todos los horarios -->
  <div class="save-container">
    <button 
    [appCaptcha]="onCaptchaSubmitHorario()" 
    [captchaTitle]="'Por favor, resuelve este captcha antes de continuar:'"
     class="save-btn" style="font-size: 16px;">
     Guardar Todos
    </button>
  </div>

</div>

