.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.button-width{
    width: 500px;
}

.body{
    height: 800px;
    margin-top: 20px;
    background-position-y: -50px;
    
}

body {
    position: relative;
    margin: 0;
    font-family: Arial, sans-serif;
}

.body::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../../../../img/wounded-heart-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 925px;
    opacity: 0.2; /* Ajusta este valor para cambiar la opacidad */
    z-index: -1; /* Coloca la pseudo-clase detrás del contenido del body */
}




.d-flex-space-between{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}

.margin-input{
    margin-top: 40px;
}

.button-login{
    padding: 22px;
    margin-top: 40px;
}

.validators-container{
    margin-top: 0px;
}

.validators{
    font-size: 15px;
    text-align: center;
    color: red;
}

.h-custom{
    margin-bottom: 51px;
}

.quick-access-container {
    border: 2px solid gray;
    padding: 20px;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    right: 1%;
    top: 78%;
    border-radius: 20px;
  }
  
  .quick-access-title {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 0 10px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }
  
  .squares-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .square {
    width: 70px; /* O el tamaño que necesites */
    height: 70px; /* Asegúrate de que el square sea cuadrado */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Asegura que cualquier parte de la imagen fuera del cuadrado se recorte */
    cursor:pointer;
  }

  .square img {
    width: 85%;
    height: 85%;
    object-fit: cover; /* Hace que la imagen cubra el área del cuadrado sin distorsionar el aspecto */
  }

  .bg-green{
    background-color: #4CAF50;
  }
  .bg-red{
    background-color: #f44336;
  }
  .bg-sky-blue{
    background-color:#4e8de0;
  }
  
  