<app-header
  [title]="'MyClinic'"
></app-header>

<div style="width: 100%; display: flex; justify-content: center; margin-top: 30px; margin-bottom: 20px;">
  <h1 *ngIf="role == 'especialista' || role == 'paciente'">Mis turnos</h1>
  <h1 *ngIf="role == 'administrador'">Turnos</h1>
</div>

<input
  type="text"
  placeholder="Buscar por cualquier campo"
  [(ngModel)]="filterText"
  (input)="aplicarFiltro()"
/>

<div *ngIf="role == 'paciente'">
  <table class="turnos-table">
    <thead>
      <tr>
        <th>Especialidad</th>
        <th>Especialista</th>
        <th>Fecha</th>
        <th>Horario</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turno of turnosFiltrados | ordenarTurnos:'fecha'" [ngClass]="{'turno-realizado': turno.estado === 'realizado'}">
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3">{{ turno.especialidad }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3">{{ turno.especialistaNombre }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3">{{ turno.fecha }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3">{{ turno.startTime }} - {{ turno.endTime }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3" [ngStyle]="turno.estado | appResaltarEstadoTurno">{{ turno.estado | capitalize }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3">
          <button 
          *ngIf="turno.estado == 'pendiente'"
          class="btn cancelar"
          [appCaptcha]="onCaptchaCancelarPaciente(turno)" 
          [captchaTitle]="'Por favor, resuelve este captcha antes de continuar:'"
          >
            Cancelar Turno
          </button>
          <button *ngIf="turno.resenia != ''" (click)="verResenia(turno.resenia)" class="btn ver-resenia">
            Ver reseña
          </button>
          <button *ngIf="turno.comentario && turno.comentario != ''" (click)="verComentario(turno.comentario)" class="btn ver-comentario">
            Ver Comentario
          </button>
          <button *ngIf="turno.estado == 
          'finalizado' && turno.calificacionPaciente == ''" class="btn calificar"
          [appCaptcha]="onCaptchaCalificar(turno)" 
          [captchaTitle]="'Por favor, resuelve este captcha antes de continuar:'"
          >
            Calificar Atención
          </button>
          <button *ngIf="turno.estado == 'finalizado' && turno.calificacionPaciente != ''" (click)="verCalifacion(turno.calificacionPaciente)" class="btn ver-calificacion">
            Ver Calificación
          </button>
          <button 
          *ngIf="turno.estado == 'finalizado' && turno.encuestaPaciente == ''"
          class="btn ver-encuesta"
          [appCaptcha]="onCaptchaEncuesta(turno)" 
          [captchaTitle]="'Por favor, resuelve este captcha antes de continuar:'"
          >
            Completar Encuesta
          </button>
          <button *ngIf="turno.estado == 'finalizado' && turno.encuestaPaciente != ''" (click)="verEncuesta(turno.encuestaPaciente)" class="btn completar-encuesta">
            Ver Encuesta
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="role == 'especialista'">
  <table class="turnos-table">
    <thead>
      <tr>
        <th>Especialidad</th>
        <th>Paciente</th>
        <th>Fecha</th>
        <th>Horario</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turno of turnosFiltrados | ordenarTurnos:'fecha'" [ngClass]="{'turno-realizado': turno.estado === 'realizado'}">
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3">{{ turno.especialidad }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3">{{ turno.pacienteNombre }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3">{{ turno.fecha }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3">{{ turno.startTime }} - {{ turno.endTime }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3" [ngStyle]="turno.estado | appResaltarEstadoTurno">{{ turno.estado | capitalize }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3">
          <button 
          *ngIf="turno.estado == 'pendiente'" class="btn aceptar"
          [appCaptcha]="onCaptchaAceptar(turno)" 
          [captchaTitle]="'Por favor, resuelve este captcha antes de continuar:'"
          >
            Aceptar Turno
          </button>
          <button 
          *ngIf="turno.estado == 'pendiente'" class="btn cancelar"
          [appCaptcha]="onCaptchaCancelar(turno)" 
          [captchaTitle]="'Por favor, resuelve este captcha antes de continuar:'"
          >
            Cancelar Turno
          </button>
          <button 
          *ngIf="turno.estado == 'pendiente'" class="btn cancelar"
          [appCaptcha]="onCaptchaRechazar(turno)" 
          [captchaTitle]="'Por favor, resuelve este captcha antes de continuar:'"
          >
            Rechazar Turno
          </button>
          <button *ngIf="turno.resenia != ''" (click)="verResenia(turno.resenia)" class="btn ver-resenia">
            Ver reseña
          </button>
          <button *ngIf="turno.comentario != '' && turno.comentario" (click)="verComentario(turno.comentario)" class="btn ver-comentario">
            Ver Comentario
          </button>
          <button 
          *ngIf="turno.estado == 'aceptado'" 
          class="btn aceptar"
          [appCaptcha]="onCaptchaFinalizar(turno)" 
          [captchaTitle]="'Por favor, resuelve este captcha antes de continuar:'"
          >
            Finalizar Turno
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="role == 'administrador'">
  <table class="turnos-table">
    <thead>
      <tr>
        <th>Especialidad</th>
        <th>Paciente</th>
        <th>Especialista</th>
        <th>Fecha</th>
        <th>Horario</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turno of turnosFiltrados | ordenarTurnos:'fecha'" [ngClass]="{'turno-realizado': turno.estado === 'realizado'}">
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3">{{ turno.especialidad }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3">{{ turno.pacienteNombre }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3">{{ turno.especialistaNombre }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3" >{{ turno.fecha }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3" >{{ turno.startTime }} - {{ turno.endTime }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3">{{ turno.estado | capitalize }}</td>
        <td [appHighlightUpcoming]="turno.fecha" [diasLimite]="3">
          <button *ngIf="turno.estado == 'pendiente'" (click)="cancelarAdmin(turno)" class="btn cancelar">
            Cancelar Turno
          </button>
          <button *ngIf="turno.comentario != '' && turno.comentario" (click)="verComentario(turno.comentario)" class="btn ver-comentario">
            Ver Comentario
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>