.turnos-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
}

.turnos-table th, .turnos-table td {
  padding: 12px 15px;
  text-align: left;
}

.turnos-table th {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

.turnos-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.turnos-table tbody tr:hover {
  background-color: #ddd;
}

.turno-realizado {
  background-color: #f9f9f9;
}

.btn {
  padding: 8px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.btn.cancelar {
  background-color: #ff4d4d;
  color: white;
}

.btn.cancelar:hover {
  background-color: #ff1a1a;
}

.btn.aceptar {
  background-color: #0b7910;
  color: white;
}

.btn.aceptar:hover {
  background-color:#0d9b14;
}

.btn.ver-resenia {
  background-color: #008CBA;
  color: white;
}

.btn.ver-resenia:hover {
  background-color: #005f73;
}

.btn.ver-comentario {
  background-color: #f39c12;
  color: white;
}

.btn.ver-comentario:hover {
  background-color: #e67e22;
}

.btn.calificar {
  background-color: #27ae60;
  color: white;
}

.btn.calificar:hover {
  background-color: #2ecc71;
}

.btn.ver-calificacion {
  background-color: #9b59b6;
  color: white;
}

.btn.ver-calificacion:hover {
  background-color: #8e44ad;
}

/* Botón Completar Encuesta */
.btn.ver-encuesta {
  background-color: #2980b9; /* Azul */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn.ver-encuesta:hover {
  background-color: #3498db; /* Azul más claro al pasar el ratón */
}

/* Botón Ver Encuesta */
.btn.completar-encuesta {
  background-color: #f39c12; /* Naranja */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn.completar-encuesta:hover {
  background-color: #e67e22; /* Naranja más oscuro al pasar el ratón */
}



input[type="text"] {
  width: 600px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  margin-bottom: 30px;
}

input[type="text"]:focus {
  border-color: #27ae60; /* Color verde cuando está enfocado */
  box-shadow: 0 0 10px rgba(39, 174, 96, 0.5); /* Sombra sutil al enfocarse */
  outline: none;
}

input[type="text"]::placeholder {
  color: #aaa; /* Color del placeholder */
  font-style: italic;
}

input[type="text"]:hover {
  border-color: #2ecc71; /* Color verde más claro en hover */
}

input[type="text"]:focus::placeholder {
  color: transparent; /* Oculta el placeholder cuando está enfocado */
}